/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
article p:first-child{
	color:white;
	background-color:black
}
article p:last-child{
	color:red;
}
article p:nth-child(2){
	color:black
}
ul li{
	background-color:gray;
    width:50%;
	padding:10px;
}
ul li:first-child{
	font-size:22px;
	background-color:white;
}
ul li:nth-last-child(3){
	background-color:pink;
}
ul li:last-child{
	background-color:white;
}


